//Gallery

#gallery {
	@include span-columns (12);
	
	#slideshow {
		@include span-columns (6 of 12);
		display: inline-block;
		
		img {max-width:100%;}
	}
	
	#thumbs1, #thumbs2, #thumbs3 {
		@include span-columns (2 of 12);
		display:inline-block;
		
		ul li  {list-style-type: none; margin:1em 0;}
		
		.thumbnails{}
		
		.thumb{max-width:100%;}
	}
	
	
}